label {
    cursor: pointer;
    font-size: 1.2em;
}
.ui-sys-error-message	{
	font-size: 0.8em; font-weight: bold; font-style: italic; text-align: center; color: red;
}
.invalid-input {
    background-color: #ddee11;
}
.ui-sys-hidden	{
	position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; overflow: hidden; 
}
.ui-sys-show	{
	position: relative; top: 0; left: 0; width: auto; height: auto;
}
th {
    cursor: pointer;
}
@media (max-width: 768px)   {
    button.add-record, a.add-record, .btn-form-submit  {
        width: 100%;
    }
}