<div class="col-md-6 $offset">
    <form>
        <div class="input-group mb-3">
            <input name="__ui_search_input__" id="__ui_search_input__\$optIndex" type="search" data-min-length="3"
                class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button id="__ui_search_button__\$optIndex" data-output-target="__ui_search_output_target__\$optIndex"
                    data-display-column='\$mycolumnlist' data-error-target="__ui_search_error__\$optIndex"
                    data-column='$mycolumnlist' data-page='\$page' data-class='$classname'
                    class="btn btn-outline-primary btn-perform-search btn-click-default" type="button"
                    data-min-length="3"
                    data-search-input="text" data-search-input-id="__ui_search_input__\$optIndex" data-toggle="tooltip"
                    title="This is a basic search">Search</button>
            </div>
        </div>
    </form>
</div>